spring:
  application:
    name: discodeit
  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 10MB
discodeit:
  repository:
    type: file
    file-directory: .discodeit

server:
  error:
    include-message: always
    include-binding-errors: always

logging:
  level:
    org.springframework.web: DEBUG

  server:
    port: ${PORT:8080}